<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201016819804-lqv305jtm7901nq8coahki9hfrvt6i5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201016819804-lqv305jtm7901nq8coahki9hfrvt6i5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCTSL7F720sIlbGd7e8i0E2ISXLDYCqirc</string>
	<key>GCM_SENDER_ID</key>
	<string>201016819804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yogesh.secondfirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-custom-1f688</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-custom-1f688.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201016819804:ios:4877815f4d97d168a92699</string>
	<key>DATABASE_URL</key>
	<string>https://fir-custom-1f688.firebaseio.com</string>
</dict>
</plist>